<div ng-controller="registerController" class="container-fluid registerContainer">
    <form class="form-signin" 
          ng-submit="register(registerInfo)" 
          ng-hide="registerSuccess">
        <h1 class="form-signin-heading">{{test}}</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" 
               id="inputEmail" 
               class="form-control" 
               placeholder="Email address" 
               required="" 
               autofocus="" 
               ng-model="registerInfo.email">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" 
               id="inputPassword" 
               class="form-control" 
               placeholder="Password" 
               required=""
               ng-model="registerInfo.password">
        

        <button ng-hide="loading"
                class="btn btn-lg btn-info btn-block" type="submit">Register</button>
    </form>

    <div ng-show="loading"
            class="btn btn-lg btn-info btn-block btn-loading">
        <strong class="glyphicon glyphicon-menu-hamburger loading"></strong>
        Loading...
    </div>
    <div style="color:green;font-size:18px;margin-top:20vh;text-aligh:center;" ng-show="registerSuccess">
        Register success! Please <a href="#/login">Log in now.</a>
    </div>
    <div id="error-messages"></div>
</div>