<div ng-controller="todoController" class="container-fluid">
    <div class="pageMenu">
        <h1>Todo PAGE</h1>
        <a ng-click="refreshTodoList()" class="btn btn-default">Refresh List</a>
        <div class="col-lg-3">
            <form ng-submit="addTodo(todo)" class="input-group">
                <span class="input-group-addon">
                    <input type="checkbox" ng-model="todo.completed">
                </span>
                <input type="text" class="form-control" placeholder="Add reminder..." ng-model="todo.description">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Add!</button>
                </span>
            </form><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div>
    <div class="listBody">
        <ul>
            <li ng-repeat="todo in todos">
                {{todo.description}}
            </li>
        </ul>
    </div>
</div>