<div ng-controller="todoController">
    <div class="pageMenu" style="width:500px;margin: 0 auto;">
        <h1>Todo PAGE</h1>
        <div class="row">
            <div class="col-xs-7">
                <form ng-submit="addTodo(todo)" class="input-group ">
                    <span class="input-group-addon">
                        <input type="checkbox" ng-model="todo.completed">
                    </span>
                    <input type="text" class="form-control" placeholder="Add reminder..." ng-model="todo.description">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Add!</button>
                    </span>
                </form>
                <!-- /input-group -->
            </div>
            <a ng-click="getTodoList()" class="btn btn-info col-xs-2" style="margin:0 7px">Refresh</a>
            <a ng-click="setTodo()" class="btn btn-primary col-xs-2" style="margin:0 7px" ng-show="!isEditing">Edit</a>
        </div>

        <!-- display task result -->
        <div class="row taskTableContainer" ng-show="!isEditing">
            <table class="table table-striped task-table" ng-init="sortReverse=true">
                <thead>
                    <tr>
                        <th ng-click="sortType ='id'; sortReverse = !sortReverse">#</th>
                        <th ng-click="sortType ='description'; sortReverse = !sortReverse">Task</th>
                        <th ng-click="sortType ='updatedAt'; sortReverse = !sortReverse">Created/Update</th>
                        <th ng-click="sortType ='completed'; sortReverse = !sortReverse">Completed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="todo in todos | orderBy:sortType:sortReverse">
                        <td>{{todo.id}}</td>
                        <td>{{todo.description}}</td>
                        <td>{{todo.updatedAt | date : 'short'}}</td>
                        <td ng-class="{completed: todo.completed}">{{todo.completed}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Edit todo list  -->
        <div class="row taskTableContainer edit" ng-show="isEditing">
            <form ng-submit="submitSetTodo(todos)">
                <table class="table table-striped task-table">
                    <thead>
                        <tr>
                            <th ng-click="sortType ='id'; sortReverse = !sortReverse">#</th>
                            <th ng-click="sortType ='description'; sortReverse = !sortReverse">Task</th>
                            <th ng-click="sortType ='updatedAt'; sortReverse = !sortReverse">Created/Update</th>
                            <th ng-click="sortType ='completed'; sortReverse = !sortReverse">Completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="todo in todos">
                            <td>{{todo.id}}</td>
                            <td>
                                <input type="text" class="form-control" placeholder="Description" ng-model="todo.description" />
                            </td>
                            <td>{{todo.updatedAt | date : 'short'}}</td>
                            <td>
                                <input  type="checkbox" 
                                        ng-checked="{{todo.completed}}" 
                                        style="text-align:center" 
                                        ng-model="todo.completed"
                                />
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- Submit -->
                <div style="text-align:right;">
                    <button type="submit" class="btn btn-success btn-lg col-xs-2" style="margin:0 7px">
                        Done
                    </button>
                </div>
            </form>
        </div>
        <!-- !edit todo -->
    </div>
</div>